body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    font-size: 14px;
    font-family: "Roberto" sans-serif;
}

.works {
    margin: 100px auto;
    padding: 20px;
    width: 240px;
    height: 220px;
    background-color: white;
    box-shadow: 0 0 3px #cccccc;
    transition: transform 2s ease;
}

.caption-link {
    position: relative;
    z-index: 1;
    display: block;
}

.caption-link img {
    display: block;
    max-width: 100%;
    height: 220px;
    transition: transform 2s ease;
    position: absolute;
}

.caption-link img:nth-child(1) {
    z-index: 100;
}

.caption-link img:nth-child(2) {
    z-index: 99;
}

.caption-link img:nth-child(3) {
    z-index: 98;
}

.caption-link img:nth-child(4) {
    z-index: 97;
}

.caption-link img:nth-child(5) {
    z-index: 96;
}

.caption-link:hover img:nth-child(1) {
    transform: scale(2) translate(-100%);
}

.caption-link:hover img:nth-child(2) {
    transform: scale(2) translate(-50%);
}

.caption-link:hover img:nth-child(3) {
    transform: scale(2) translate(0%);
}

.caption-link:hover img:nth-child(4) {
    transform: scale(2) translate(50%);
}

.caption-link:hover img:nth-child(5) {
    transform: scale(2) translate(150%);
}

.caption-link::after,
.caption-link::before {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    background-color: #333;
    text-align: center;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.caption-link::after {
    top: 30%;
    padding: 0 30px;
    height: 70%;
    color: #d7bb97;
    content: attr(data-description);
}

.caption-link::before {
    padding: 30px;
    height: 30%;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    content: attr(data-title);
}

/*Второu эффект*/

.works-2 {
    margin: 300px auto 0px auto;
    width: 240px;
    height: 220px;
    background-color: #f5f5f5;
    color: #333;
    font-size: 22px;
}

a {
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.effect-2 {
    margin: 100px auto;
    padding: 30px 0;
    width: 400px;
    background-color: #435a6b;
    text-align: center;
}
.effect-2 a {
    padding: 0 20px;
    height: 45px;
    color: #ffffff;
    font-weight: 300;
    line-height: 45px;
  }
  
  .effect-2 a::before,
  .effect-2 a::after {
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: #ffffff;
    content: "";
    opacity: 0.2;
    transition: all 0.3s;
  }
  
  .effect-2 a::before {
    top: 0;
    left: 0;
    transform: rotate(90deg);
    transform-origin: 0 0;
  }
  
  .effect-2 a::after {
    right: 0;
    bottom: 0;
    transform: rotate(90deg);
    transform-origin: 100% 100%;
  }
  
  .effect-2 a:hover::before,
  .effect-2 a:hover::after {
    opacity: 1;
  }
  
  .effect-2 a:hover::before {
    left: 50%;
    transform: rotate(0deg) translateX(-50%);
    width: 100%;
  }
  
  .effect-2 a:hover::after {
    right: 50%;
    transform: rotate(0deg) translateX(50%);
    width: 100%;
  }
  